anthropic
asyncio
faiss-cpu
google-generativeai
gpt_researcher
httpx
# lancedb
langchain
langchain-community
langchain-mistralai
langchain-openai
mistralai
networkx
ollama
openai
# opencv-python
openpyxl
# pdf2image
# pdfminer.six
# pillow-heif
pypdf
python-docx
requests
streamlit
unstructured
