anthropic
asyncio
faiss-cpu
flashrank
google-generativeai
gpt_researcher
httpx
# lancedb
langchain>=0.1.16
langchain-community>=0.0.33
langchain-mistralai
langchain-openai
mistralai
networkx
ollama
openai
# opencv-python
openpyxl
# pdf2image
# pdfminer.six
# pillow-heif
pypdf
python-docx
requests
streamlit
unstructured
